<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Megan Slater</title>
        <link href="{% static 'my_website/style.css' %}" rel="stylesheet" type="text/css">
        <meta charset="utf-8">
    </head>
    <body>
        <div id="wrap">
            <div id="main">
                <header>
                    <h1>Megan Slater</h1>
                    <p>Software Engineer</p>
                    <nav id="main_menu">
                        <ul>
                            <li>About</li>
                            <li>Technical Blog</li>
                            <li>Personal Blog</li>
                        </ul>
                    </nav>
                </header>
                <section id="main_content">
                    {% block content %}
                    {% endblock %}
                </section>
            </div>
        </div>
        <footer>
            <p>&copy2015 Created by Megan Slater</p>
        </footer>
    </body>
</html>